[submodule "scripts"]
	path = scripts
	url = https://github.com/CaptainIRS/hacker-plus-scripts
[submodule "hacker-plus-scripts"]
	path = hacker-plus-scripts
	url = https://github.com/CaptainIRS/hacker-plus-scripts
